<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
    <form method="post" action="addCategory">
        {% csrf_token %}
        <center>
            {% if messages %}
                {% for msg in messages %}
                    <script>
    					alert('{{ msg }}');
				    </script>
                {% endfor %}
            {% endif%}
        </center>
        <table border="1" cellspacing="0" cellpadding="10" align="center">
                <tr>
                    <td>Enter Category Name:</td>
                    <td><input type="text" name="name" required></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><input type="submit" name="submit"></td>
                </tr>
        </table>

    </form>
</body>
</html>